services:
#  db:
#    image: postgres:16
#    restart: always
#    env_file:
#      - .env
#    environment:
#      DATABASE_URL: ${DATABASE_URL}
#      PORT: ${PORT}
#    ports:
#      - "5433:5432"
#    volumes:
#      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    restart: always
    env_file:
      - .env
#    depends_on:
#      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: "8080"
    ports:
      - "8080:8080"

volumes:
  pgdata:
